:root{
    --basic-color: #303030;
    --basic-color-contrast: #FFFFFF;
    --title-text-color: #555555;
    --accent-color: #FF6C00;
}
body{
    background-color: var(--basic-color-contrast);
    color: var(--basic-color);

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.02em;
}

.header{
    background-color: red;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu .link{
  color: var(--basic-color-contrast);
  text-decoration: none;
}

.menu .link:hover{
    color: var(--accent-color);
}

.number{
    color: var(--basic-color-contrast);
    text-decoration: none;
}

.number:hover{
    color: var(--accent-color);
}

.button{
    width: 160px;
    color: var(--basic-color-contrast);
    border-color: var(--accent-color);
    border-radius: 25px;
    background-color: transparent;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;

}